@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;

    box-sizing: boder-box;
}

body{
    background-color:#292929;
    font-family: 'Roboto', sans-serif;
}

input {
    font-weight: bold;
    border: none;
    border-radius:5px;
    background-color: #292929;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 145px;
    height: 1.8rem;
    margin-top: 0.5rem;
}

select{
    border-radius: 5px;
    width: 140px;
    height: 1.8rem;
    margin-top: 0.5rem;
    background-color: #fff;
    padding: 3px 5px;
    font-weight: bold;
}

button {
    border:none;
    border-radius: 5px;
    background-color: #008000;
    color: #fff;
    padding: 3px 5px;
    width: 130px;
    cursor: pointer;
    margin-top: 1.6rem;
    height: 1.8rem;
}